<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CampusCare- Business Category Bootstrap Responsive Template | Home :: W3layouts</title>
    <!--/google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--//google-fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
</head>

<body>
    <!--/Header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1><a class="navbar-brand pe-xl-5 pe-lg-4" href="index.html">
                        Campus<span class="sublog">Care.</span>
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">Services</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav search-right mt-lg-0 mt-2">
                        <li class="nav-item mr-2" title="Search"><a href="#search" class="search-search">
                                <span class="fas fa-search" aria-hidden="true"></span></a></li>
                        <li class="nav-item mx-lg-4"><a href="" class="phone-btn btn-white d-none d-lg-block btn-style ms-2"><span class="fas fa-user me-2" aria-hidden="true"></span> User Login</a></li>
                    </ul>

                    <!-- //toggle switch for light and dark theme -->
                    <!-- search popup -->
                    <div id="search" class="w3lpop-overlay">
                        <div class="w3lpopup">
                            <form action="#formsearch" method="GET" class="d-flex">
                                <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                                <button type="submit"><span class="fas fa-search"></span></button>
                                <a class="close" href="#formsearch">&times;</a>
                            </form>
                        </div>
                    </div>
                    <!-- /search popup -->
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->
    <!-- main-slider -->
    <section class="w3l-main-slider banner-slider" id="home">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <div class="slider-info banner-view dut-top1">
                    <div class="container">
                        <div class="banner-info">
                            <h3>We deal with Safety and <span>Maintainace</span></h3>
                            <div class="dut-info-top">
                                <p>Building a secure future prioritizing Safety and Maintainance for sustainable growth and prosperity. </p>
                                <a href="about.html" class=""> <span class=""></span> </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /main-slider -->
    <!--/bottom-3-grids-->
    <div class="w3l-3-grids" id="grids-3">
        <div class="container-fluid mx-lg-0">
            <div class="row pt-sm-0 pt-5">
                <div class="col-lg-4 col-sm-6 mt-sm-0 m px-md-0 w3-gridhny-1 position-relative">
                    <div class="grids3-info">
                        <a href="#" class="d-block zoom"><img src="assets/images/log.jpg" alt="" class="img-fluid news-image"></a>
                        <div class="w3-grids3-info">
                            <h6><a href="#category" class="category d-block">Login</a></h6>
                            <h4><a href="#">Login in to your profile<span></span></a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-sm-0 px-md-0 w3-gridhny-1 position-relative">
                    <div class="grids3-info">
                        <a href="#blog" class="d-block zoom"><img src="assets/images/r1.jpg" alt="" class="img-fluid news-image"></a>
                        <div class="w3-grids3-info">
                           <h6><a href="#category" class="category d-block">Report</a></h6>
                            <h4><a href="#">Report your issue <span></span></a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-lg-0 px-md-0 w3-gridhny-1 position-relative">
                    <div class="grids3-info">
                        <a href="#blog" class="d-block zoom"><img src="assets/images/r2.jpg" alt="" class="img-fluid news-image"></a>
                        <div class="w3-grids3-info">
                           <h6><a href="#category" class="category d-block">Rescue</a></h6>
                            <h4><a href="#">We take action and solve your issue <span></span></a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//bottom-3-grids-->
    <!--/about-section-->
    <section class="w3l-index2" id="about">
        <div class="midd-w3 py-5">
            <div class="container py-md-5 py-3">
                <!--/row-1-->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="w3shape position-relative">
                            <img src="assets/images/m1.jpg" alt="" class="radius-image img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-md-5 mt-4 align-self ps-lg-5">
                        <div class="title-content text-left">
                            <h6 class="title-subhny mb-2"><span>Our Story</span></h6>
                            <h3 class="title-w3l">Safety begins with
                                <span class="span-bold"> good maintainance</span>
                            </h3>
                        </div>
                        <p class="mt-md-4 mt-3">Our primary focus on weekdays is to improve safety and maintenance on the DUT campus using our web-based application. This platform will allow students, teachers, and staff to submit campus maintenance needs, resulting in a more effective and organised approach to handling safety and maintenance issues.

                            Recognising the critical importance of a safe and functioning learning environment, our solution focuses on overcoming the issues associated with disorganised maintenance and security operations on university campuses and residences. By centralising issue reporting, pass requests, and resource access, we want to streamline operations and improve overall efficiency.</p>
                        <div class="w3l-two-buttons">
                            <a href="about.html" class=""><span class=""></span></a>
                            <a href="#view" class=""><span class=""></span></a>
                        </div>
                    </div>
                </div>
                <!--//row-1-->

            </div>
        </div>
     </div>
    </section>
    <!--//about-section-->
    <section class="w3l-video-sec" id="video">
        <div class="container">
            <div class="w3l-index5 py-5" id="video">
                <div class="history-info align-self text-center py-5 my-lg-5">
                    <div class="position-relative py-5 my-lg-5">
                        <a href="#small-dialog1" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden --
                        <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://player.vimeo.com/video/124801644" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                        </div>
						                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/grids-->
    <section class="w3l-grids-3 home-page-gds py-5">
        <div class="container py-md-5 py-3">
            <div class="header-sec text-center pt-lg-5 mt-lg-5">
                <h3 class="title-w3l two mb-4 mt-lg-5">Creative minds, <br> safe
                    <span class="span-bold"> environments.</span>
                </h3>
            </div>
            <div class="row bottom_grids text-left">
                <div class="col-lg-3 col-md-6 mt-5">
                    <div class="grid-block text-center">
                        <a href="#blog" class="d-block p-lg-4 p-3">
                            <span class="" aria-hidden="true"></span>
                            <h4 class="my-3"></h4>
                            <p class=""> </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-5">
                    <div class="grid-block text-center">
                        <a href="#blog" class="d-block p-lg-4 p-3">
                            <span class="fas fa-chart-pie" aria-hidden="true"></span>
                            <h4 class="my-3">Daily Updates</h4>
                            <p class="">Provide daily safety tips or best practices to keep our audience informed and engaged . </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-5">
                    <div class="grid-block text-center">
                        <a href="#blog" class="d-block p-lg-4 p-3">
                            <span class="fas fa-bullhorn" aria-hidden="true"></span>
                            <h4 class="my-3">Market Research</h4>

                            <p class="">Stay informed about revelant safety and maintenance regulations and standards. </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-5">
                    <div class="grid-block text-center">
                        <a href="#blog" class="d-block p-lg-4 p-3">
                            <span class="fas fa-headset" aria-hidden="true"></span>
                            <h4 class="my-3">24/7 Support</h4>
                            <p class="">We offer our service 24/7 operation. </p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--//grids-->
 <!--/services-->
    <section class="w3l-services2" id="services">
        <div id="cwp23-block" class="py-5">
            <div class="container py-lg-5">
                <div class="row cwp23-content mt-lg-5 mt-4">
                    <div class="col-lg-6 cwp23-img">
                        <h6 class="title-subhny mb-2"><span>What We Do?</span></h6>
                        <h3 class="title-w3l mb-4">The service we offer is specifically designed to meet <br>
                            <span class="span-bold">your needs.</span>
                        </h3>
                        <p class="mt-4">The various measures such as implementing security protocols, conducting regular maintainance checks, ensuring proper lightining, and promoting a culture of safety.If you have specific questions or need help feel free to provide more details.
                        </p>

                        <div class="w3l-button mt-lg-5 mt-4">
                            <a href="services.html" class=""> <span class=""></span></a>
                        </div>
                    </div>
                    <div class="col-lg-6 cwp23-text mt-lg-0 mt-5 ps-lg-5">
                        <div class="cwp23-text-cols">
                            <div class="column">
                                <a href="#"><img src="assets/images/a1.jpg" alt="" class="radius-image img-fluid"></a>
                            </div>
                            <div class="column">
                                <a href="#"><img src="assets/images/s1.png" alt="" class="radius-image img-fluid"></a>
                            </div>
                            <div class="column">
                                <a href="#"><img src="assets/images/bb.jpg" alt="" class="radius-image img-fluid"></a>
                            </div>
                            <div class="column">
                                <a href="#"><img src="assets/images/j2.jpg" alt="" class="radius-image img-fluid"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- /grids -->
        </div>
        <!-- //grids -->
    </section>
    <!-- //testimonials -->
    <!--/w3l-footer-29-main-->
    <footer class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row align-items-center mb-3">
                    <h2 class="sign-left col-lg-7"> Our services. </h2>
                    <div class="footerw3-btn col-lg-5 ps-lg-5"><a href="#" class="">  <span class="fas fa-angle-double-right ms-2"></span></a></div>
                </div>

                <div class="row footer-top-29 mt-md-5 mt-4">
                    <div class="col-lg-4 col-md-6 footer-list-29 footer-1 pe-lg-5">
                        <h6 class="footer-title-29">About</h6>
                        <div class="footer-listw3-grids">
                            <p class="pe-lg-4">Safety and maintainance around campus involve ongoing efforts to create a secure environment and ensure the proper upkeep of facilitie. </p>
                            <div class="w3pt-call-box mt-4">
                                <div class="w3pt-call-info">
                                    <h5>Contact</h5>

                        

                                    <h5><a href="tel:+1(27) 78 665 7033"><i class="fas fa-phone-alt me-1"></i> +1(27) 78 665 7033</a></h5>
                                    <h5><a href="tel:+1(27) 64 916 8831"><i class="far fa-envelope me-1"></i> <a href="mailto:Tech Titan@mail.com" class="mail"> Tech Titans@mail.com</a></a></h5>

                                </div>

                            </div>
                        </div>

                    </div>
                    
                        </div>
                    </div>
                   
                        <div class="footer-listw3-grids">
                            <ul class="footer-listw3">
                                <li><a href="#lift"></a></li>
                                <li><a href="#cardio"></a></li>
                                <li><a href="#fit"></a></li>
                                <li><a href="#tips"></a></li>
                                <li><a href="#tips"></a></li>
                                <li><a href="#tips"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-list-29 footer-4 mt-lg-0 mt-5 ps-lg-5">
                        <h6 class="footer-title-29"></h6>
                        <p></p>

                        
                        <div class="main-social-footer-29 mt-4">
                            <a href="#facebook" class="facebook"><span class="fab fa-facebook-f"></span></a>
                            <a href="#twitter" class="twitter"><span class="fab fa-twitter"></span></a>
                            <a href="#instagram" class="instagram"><span class="fab fa-instagram"></span></a>

                            <a href="#linkd" class="linkd"><span class="fab fa-linkedin-in"></span></a>
                        </div>
                    </div>
                </div>
                <div class="bottom-copies text-center">
                    <p class="copy-footer-29">© 2024 CampusCare. All rights reserved. 
                        <a href="https://w3layouts.com/" target="_blank"></a>
                    </p>
                </div>
            </div>
        </div>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

        </script>
        <!-- //move top -->

    </footer>
    <!--//footer-9 -->
    <!-- Js scripts -->
    <!-- Template JavaScript -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/theme-change.js"></script>

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!-- //bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>
