{% extends "index.html" %}{% block content %}


<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>


    </head>
    <body>
        <hr>
        <div class="container">
            <h1>About Us</h1>
            <pre>
                Tech Titans is a forward-thinking firm founded on February 24, 2024, with a name
                that captures our enthusiasm for tremendous technological progress.
                Our diverse team of 12 members, including 7 girls and 5 boys,
                is based in Durban and seeks to be tomorrow's innovators.

                Our primary focus on weekdays is to improve safety and maintenance on the DUT campus
                using our web-based application. This platform will allow students, teachers, and staff
                to submit campus maintenance needs, resulting in a more effective and organised approach
                to handling safety and maintenance issues.

                Recognising the critical importance of a safe and functioning learning environment,
                our solution focuses on overcoming the issues associated with disorganised maintenance and security
                operations on university campuses and residences. By centralising issue reporting, pass requests,
                and resource access, we want to streamline operations and improve overall efficiency.



            </pre>
            <div class="link">
                <a href="/">Back to Home</a>
            </div>
        </div>
        <hr>



    </body>
</html>

{% endblock %}