{% extends "index.html" %}{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issue status</title>
</head>

<body>
<h1>this is issue status</h1>
<h1>Status</h1>
    <table>
        <thead>
            <tr>
                <th>Issue ID</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
            <tr>
                <td>{{ issue.id }}</td>
                <td>{{ issue.description }}</td>
                <td>{{ issue.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

{% endblock %}